/*
 * CSS File for the solution
 * Assignment 03
 * You can modify these styles but you don't have to
 */

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #232323;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: rgb(227, 227, 227);

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-cello);
  --body-background-colour: var(--colour-peppermint);
}

/*
  PAGE / BODY
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(218, 218, 218);
  background: radial-gradient( rgb(44, 44, 65), rgb(42, 38, 57), rgb(40, 39, 47), #272626);
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/****** Screen reader text utility clsas *******/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

 
/* ToDo Text Input styling */
#todo-item {
  flex-grow: 2;
  border-radius: 2rem;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-style: none;
  height: 2.5rem;
  width: 30rem; 
  padding: 1rem;
  background-color: #c0c7ca2b;
  transition-duration: 0.3s;

}



#todo-item:focus {
  outline-width: 0px;
  background-color: #cacacac5;

}



/* ToDo Button styling */
#todo-button {
  margin-left: -2rem;
  width: 8rem;
  height: 2.5rem;
  border-radius: 2rem;
  border-style: none;
  transition-duration: 0.3s;
  background: linear-gradient(120deg, var(--c1, #53524f), var(--c2, #303039) 51%, var(--c1, rgb(71, 220, 55))) var(--x, 0%)/ 200%;
  color: rgb(193, 193, 193);
}
/*keyframes  */
#todo-button:hover { 
  --x: 100%;
}

/* Input box border */
.todoInputBox { 
  display: flex;
  flex-direction: row;
  border: 2px;
  border-style: solid;
  border-color: rgba(101, 101, 101, 0.402);
  transition-duration: 0.3s;
  border-radius: 2rem;
  gap: 0px;

}

.todoInputBox:hover {
  border-color: rgba(211, 211, 211, 0.509)

}

.todoInputBox:focus {
  border-color: rgba(211, 211, 211, 0.509)

}

/* ToDo list styling */
.todoList {
  align-items: center;
  width: 32rem;
  height: 20rem;
  border-style: dashed;
  margin: 2rem;
}